<!-- emailTemplate.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<img width="200" height="auto" style="display: block; margin: 0 auto;" src="https://www.ifmg.edu.br/portal/imagens/logovertical.jpg"/>
<h1 style="text-align: center" xmlns:th="http://www.w3.org/1999/xhtml">Polo de Inovação IFMG</h1>
<p></p>
<h2>Recuperação de Senha</h2>
<h3>Olá, <span th:text="${firstName}"></span> <span th:text="${lastName}"></span>!</h3>
<p>Recebemos uma solicitação para redefinir a senha associada ao seu endereço de e-mail. Se você fez essa solicitação, clique no botão abaixo para escolher uma nova senha:</p>
<p>
    <a th:href="@{|http://localhost:8443/confirm?token=${token}|}" target="_blank"><u>Redefinir Senha</u></a>
</p>
<p>Se você não fez essa solicitação, por favor ignore este email. Sua senha permanecerá inalterada.</p>
<p>Atenciosamente,<br>Polo de Inovação IFMG.</p>
</body>
</html>